

.intro h1 {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}
.wish {
  border-radius: 5px;
  background: rgba(1, 100, 200, 0)

}


*{
    margin: 0px;

}


h1 {
    font-family :"Courier New", Courier, monospace;
    font-size :100px;
    text-decoration: bold;
    background: linear-gradient(to right, rgb(50, 50, 219),rgb(95, 53, 158));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
    display: flex;
    justify-content: center;
  }
h2{
    font-family :"Courier New", Courier, monospace;
    font-size: 75px;
    background: linear-gradient(to right, rgb(219, 50, 50),rgb(114, 53, 158));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
    display: flex;
    justify-content: center;
    top:50px
}
h3{
  font-family :"Courier New", Courier, monospace;
  font-size: 75px;
  background: linear-gradient(to right, rgb(255, 0, 0),rgb(246, 255, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;
  display: flex;
  justify-content: center;
  top:50px
}
p{
  font-family :"Courier New", Courier, monospace;
  font-size: 30px;
  background: linear-gradient(to right, rgb(219, 50, 50),rgb(95, 53, 158));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;

}
p::first-letter{
  font-size: 50px;
  font-weight: bold;
  
}


  video{
    border-radius: 100%;
    width: 250px;
    position: absolute;
    top: 10px;
    left: 10px;
    
  }
  video::-webkit-media-controls {
    display: none;
  }
  .message{
    margin: auto;
    width: 75%;
    padding: 10px;
    
  }
  .semicircle1{
    display: flex;
    position: absolute;
    bottom: 0%;
    right: 0px;
    width: 130px;
    height: 130px;
    border-radius: 12rem 0rem 0rem 0rem;
    background-color: rgb(15, 0, 153);
    opacity: 0.2;
  }

  .semicircle2{
    display: flex;
    position: absolute;
    top: -400px;
    right: 0px;
    width: 360px;
    height: 720px;
    border-radius: 0rem 0rem 0rem 24rem;
    background-color: rgb(15, 0, 153);
    opacity: 0.1;
  }
  .semicircle3{
    display: flex;
    position: absolute;
    bottom: 0%;
    left: 0px;
    width: 150px;
    height: 200px;
    border-radius: 0rem 12rem 0rem 0rem;
    background-color: rgb(15, 0, 153);
    opacity: 0.1;
  }

.blast1{
  animation: fade 5s  forwards;

  position: absolute;
  bottom: 0%;
  left:0%
}
.blast2{
  animation: fade 5s forwards;
  position: absolute;
  bottom: 0%;
  right:0%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.pic{
  animation: fade 5s  forwards;

  display: flex;
  justify-content: center;
  width: 434.5;
  height: 800;  
}

.footer  a{

  text-decoration: none;  
  font-size: 30px;
  font-weight: bold;
  left: 252px;
  float: left;
}
.footer{
  display: flex;
  position: absolute;
  bottom:0%;
  background-color: black;
  border-radius: 9px;

}

.footer a:hover{
  color: rgb(0, 0, 177);
  text-decoration: underline;
}

@keyframes fade{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }

}

  /*.pebble1{
    display: flex;
    position: absolute;
    top: 90px;
    right: -1px;
    width: 160px;
    height: 230px;
    border-radius: 12rem 0 0 12rem;
    background-color: purple;
  }
  .pebble2{
    display: flex;
    position: absolute;
    top: -20px;
    right: -50px;
    height: 190px;
    width: 250px;
    background-color: purple;
    border-radius: 50%;
  }
*/